{% extends "base.html" %}

{% block content%}
    {% for post in posts %}
        <div class="post">
            <div class="subject">
                <div class="title">{{post.subject}}</div>
                <div class="created">
                    <ul>
                        <li class="content-list">{{post.created_by}}</li>
                        <li class="content-list">{{post.created.strftime("%b %d, %Y")}}</li>
                        <li class="content-list"><span class="fontawesome-comments-alt lightseagreen"></span>&nbsp;Comment</li>
                        <li class="content-list"><span class="fontawesome-thumbs-down lightseagreen"></span>&nbsp;{{post.dislike}}</li>
                        <li class="content-list"><span class="fontawesome-thumbs-up lightseagreen"></span>&nbsp;{{post.like}}</li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="content">
                <pre class="lyrics">{{post.content}}</pre>
            </div>
        </div>
    {% endfor %}
{% endblock %}