{% extends "base.html" %}

{% block content%}
    <h3 class="error">{{error}}</h3>
    {% for post in posts %}
        <div class="post">
            <div class="title"><a class="post_url" href="/{{post.key().id()}}">{{post.subject}}</a></div>
            <div class="created">
                <ul>
                    <form method="post">
                        <li class="content-list">{{post.created_by}}</li>
                        <li class="content-list">{{post.created.strftime("%b %d, %Y")}}</li>
                        <li class="content-list"><button name="action" value="{{post.key().id()}},delete" class="rate-button"><span class="fontawesome-trash lightseagreen"></span></button></li>
                        <li class="content-list"><button name="action" value="{{post.key().id()}},edit" class="rate-button"><span class="fontawesome-edit lightseagreen"></span></button></li>
                        <li class="content-list"><a class="post_url" href="/{{post.key().id()}}"><span class="fontawesome-comments-alt lightseagreen"></span>&nbsp;{{post.comment}}</a></li>
                        <li class="content-list"><button name="action" value="{{post.key().id()}},dislike" class="rate-button"><span class="fontawesome-thumbs-down lightseagreen"></span></button></li>
                        <li class="content-list"><button name="action" value="{{post.key().id()}},like" class="rate-button"><span class="fontawesome-thumbs-up lightseagreen"></span></button>&nbsp;{{post.like}}</li>
                    </form>
                </ul>
            </div>
            <div class="content">
                <pre class="lyrics">{{post.content}}</pre>
            </div>
        </div>
    {% endfor %}
{% endblock %}